{% extends 'admin.html.twig' %}

{% set selectHelp = 'Pour sélectionner plusieurs options ou déselectionner une appuyez sur Ctrl' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <h1>{{ edit ? 'Modifier' : 'Ajouter' }} une mission</h1>

    <ul class="text-info">
        <li>La ou les cibles ne peuvent pas avoir la même nationalité que le ou les agents</li>
        <li>Les contacts sont obligatoirement de la nationalité du pays de la mission</li>
        <li>La planque est obligatoirement dans le même pays que la mission</li>
        <li>Il faut assigner au moins 1 agent disposant de la spécialité requise</li>
    </ul>

    {% include "flashMessages.html.twig" %}



    <div class="row">

        <div class="col-12 col-xl-8">
            {{form_start(form)}}
                <div class="form-messages">
                    {{ form_errors(form) }}
                </div>
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.code_name) }}
                {{ form_row(form.start_date) }}
                {{ form_row(form.end_date) }}
                {{ form_row(form.country) }}
                {{ form_row(form.type) }}
                {{ form_row(form.status) }}
                {{ form_row(form.specialty) }}
                {{ form_row(form.Contact) }}
                    <small class="form-text text-muted text-right mb-1 mt-0 d-none d-sm-block">{{ selectHelp }}</small>
                {{ form_row(form.Target) }}
                    <small class="form-text text-muted text-right mb-1 mt-0 d-none d-sm-block">{{ selectHelp }}</small>
                {{ form_row(form.Hideout) }}
                    <small class="form-text text-muted text-right mb-1 mt-0 d-none d-sm-block">{{ selectHelp }}</small>
                {{ form_row(form.agent) }}
                    <small class="form-text text-muted text-right mb-1 mt-0 d-none d-sm-block">{{ selectHelp }}</small>
                <input type="submit" class="btn btn-success w-25" value="Enregistrer">
            {{form_end(form)}}
        </div>
    
    </div>

{% endblock %}
