{% extends 'admin.html.twig' %}


{% block body %}

    <h1>{{ edit ? 'Modifier' : 'Ajouter' }} une mission</h1>

    <ul class="text-info">
        <li>La ou les cibles ne peuvent pas avoir la même nationalité que le ou les agents</li>
        <li>Les contacts sont obligatoirement de la nationalité du pays de la mission</li>
        <li>La planque est obligatoirement dans le même pays que la mission</li>
        <li>Il faut assigner au moins 1 agent disposant de la spécialité requise</li>
    </ul>

    {% include "flashMessages.html.twig" %}

    <div class="row">

        <div class="col col-md-6">
            {{form_start(form)}}
                <div class="form-messages">
                    {{ form_errors(form) }}
                </div>
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success w-25" value="Enregistrer">
            {{form_end(form)}}
        </div>
    
    </div>

{% endblock %}
