{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Contacts ({{ contacts.getTotalItemCount }})</h1>

    <a href="{{ path('contact_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include "flashMessages.html.twig" %}

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(contacts, 'Nom', 'c.lastname') }}</th>
                <th>{{ knp_pagination_sortable(contacts, 'Prénom', 'c.firstname') }}</th>
                <th class="hide-tablet">{{ knp_pagination_sortable(contacts, 'Date de naissance', 'c.date_of_birth') }}</th>
                <th class="hide-tablet">Id Code</th>
                <th class="hide-mobile">{{ knp_pagination_sortable(contacts, 'Nationalité', 'cn.name') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.firstname }}</td>
                    <td class="hide-tablet">{{ contact.getDateOfBirth|date('d-m-Y') }}</td>
                    <td class="hide-tablet">{{ contact.getCodeName }}</td>
                    <td class="hide-mobile">{{ contact.nationality.nationality }}</td>
                    <td class="d-flex">
                        <button class="btn">
                            <a href="{{ path('contact_edit', {'id': contact.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                        </button>
                        <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('contact_delete', {'id': contact.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ contact.id) }}">
                            <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(contacts, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}

{% endblock %}