{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Pays</h1>

    <a href="{{ path('country_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include "flashMessages.html.twig" %}

    <div class="row">

        <div class="col col-sm-6">

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pays</th>
                        <th>Nationalité</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in countries %}
                        <tr>
                            <td>{{ country.id }}</td>
                            <td>{{ country.name }}</td>
                            <td>{{ country.nationality }}</td>
                            <td>
                                <a href="{{ path('country_edit', {'id': country.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                                <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('country_delete', {'id': country.id}) }}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ country.id) }}">
                                <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                            </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}