{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Planques</h1>

    <a href="{{ path('hideout_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include "flashMessages.html.twig" %}

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Pays</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for hideout in hideouts %}
                <tr>
                    <td>{{ hideout.id }}</td>
                    <td>{{ hideout.code }}</td>
                    <td>{{ hideout.country.name }}</td>
                    <td>{{ hideout.type.name }}</td>
                    <td>
                        <a href="{{ path('hideout_edit', {'id': hideout.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                        <form method="POST" style="display:inline-block" action="{{ path('hideout_delete', {'id': hideout.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ hideout.id) }}">
                            <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='text-danger fa fa-times'></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <div class="row mt-5">
    
        <div class="col col-sm-6">
            <h2>Types de planque</h2>
            
            <a href="{{ path('hideout_type_create') }}" class="btn btn-info mt-3">Ajouter</a>

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in hideoutTypes %}
                        <tr>
                            <td>{{ type.id }}</td>
                            <td>{{ type.name }}</td>
                            <td>
                                <a href="{{ path('hideout_type_edit', {'id': type.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                                <form method="POST" style="display:inline-block" action="{{ path('hideout_type_delete', {'id': type.id}) }}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ type.id) }}">
                                    <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='text-danger fa fa-times'></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    </div>



{% endblock %}