{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Planques ({{ hideouts.getTotalItemCount }})</h1>

    <a href="{{ path('hideout_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include "flashMessages.html.twig" %}

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th class="hide-tablet">Code</th>
                <th>{{ knp_pagination_sortable(hideouts, 'Adresse', 'h.address') }}</th>
                <th>{{ knp_pagination_sortable(hideouts, 'Pays', 'c.name') }}</th>
                <th class="hide-tablet">{{ knp_pagination_sortable(hideouts, 'Type', 't.name') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for hideout in hideouts %}
                <tr>
                    <td class="hide-tablet">{{ hideout.code }}</td>
                    <td>{{ hideout.address }}</td>
                    <td>{{ hideout.country.name }}</td>
                    <td class="hide-tablet">{{ hideout.type.name }}</td>
                    <td>
                        <button class="btn">
                            <a href="{{ path('hideout_edit', {'id': hideout.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                        </button>
                        <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('hideout_delete', {'id': hideout.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ hideout.id) }}">
                            <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(hideouts, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}

        <div class="row mt-5">
    
        <div class="col-12 col-md-6">
            <h2>Types de planque</h2>
            
            <a href="{{ path('hideout_type_create') }}" class="btn btn-info mt-3">Ajouter</a>

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in hideoutTypes %}
                        <tr>
                            <td>{{ type.id }}</td>
                            <td>{{ type.name }}</td>
                            <td>
                                <button class="btn">
                                    <a href="{{ path('hideout_type_edit', {'id': type.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                                </button>
                                <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('hideout_type_delete', {'id': type.id}) }}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ type.id) }}">
                                    <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    </div>



{% endblock %}