{% extends 'admin.html.twig' %}

{% block body %}

    <h1>Missions</h1>

    <a href="{{ path('mission_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include 'flashMessages.html.twig' %}

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Code</th>
                <th class="col">Pays</th>
                <th class="col">Type</th>
                <th class="col">Spécialité</th>
                <th class="col">Cible</th>
                <th class="col">Planque</th>
                <th class="col">Agent</th>
                <th class="col">Début</th>
                <th class="col">Fin</th>
                <th class="col">Status</th>
                <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in missions %}
                <tr>
                    <td>{{ mission.id }}</td>
                    <td>{{ mission.title }}</td>
                    <td>{{ mission.getCodeName }}</td>
                    <td>{{ mission.country.name }}</td>
                    <td>{{ mission.specialty.name }}</td>
                    <td>{{ mission.type.name }}</td>
                    <td>  
                        {% for target in mission.target %}
                            {{ target.firstname }} {{ target.lastname }} |
                        {% endfor %}
                    </td>
                    <td>  
                        {% for hideout in mission.hideout %}
                            {{ hideout.code }} |
                        {% endfor %}
                    </td>
                    <td>  
                        {% for agent in mission.agent %}
                            {{ agent.firstname }} {{ agent.lastname }} |
                        {% endfor %}
                    </td>
                    <td>{{ mission.getStartDate|date('d-m-Y') }}</td>
                    <td>{{ mission.getEndDate|date('d-m-Y') }}</td>
                    <td>{{ mission.status.name }}</td>
                    <td>
                        <button class="btn">
                            <a href="{{ path('mission_edit', {'id': mission.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                        </button>
                        <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('mission_delete', {'id': mission.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ mission.id) }}">
                            <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row mt-5">
    
        <div class="col col-sm-6">
            <h2>Types de missions</h2>
            
            <a href="{{ path('mission_type_create') }}" class="btn btn-info mt-3">Ajouter</a>

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in mission_types %}
                        <tr>
                            <td>{{ type.id }}</td>
                            <td>{{ type.name }}</td>
                            <td>
                                <button class="btn">
                                    <a href="{{ path('mission_type_edit', {'id': type.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                                </button>
                                <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('mission_type_delete', {'id': type.id}) }}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ type.id) }}">
                                    <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col col-sm-6">
            <h2>Status de mission</h2>

            <a href="{{ path('mission_status_create') }}" class="btn btn-info mt-3">Ajouter</a>

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in mission_statuses %}
                        <tr>
                            <td>{{ status.id }}</td>
                            <td>{{ status.name }}</td>
                            <td>
                                <button class="btn">
                                    <a href="{{ path('mission_status_edit', {'id': status.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                                </button>
                                <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('mission_status_delete', {'id': status.id}) }}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ status.id) }}">
                                    <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    </div>

{% endblock %}
