{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Spécialités</h1>

    <a href="{{ path('specialty_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include "flashMessages.html.twig" %}

    <div class="row">

        <div class="col col-sm-6">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for specialty in specialties %}
                        <tr>
                            <td>{{ specialty.id }}</td>
                            <td>{{ specialty.name }}</td>
                            <td>
                                <button class="btn">
                                    <a href="{{ path('specialty_edit', {'id': specialty.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                                </button>
                                <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('specialty_delete', {'id': specialty.id}) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ specialty.id) }}">
                                    <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    
        </div>
    
    </div>

    {{ knp_pagination_render(specialties, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}

{% endblock %}