{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Cibles ({{ targets.getTotalItemCount }})</h1>

    <a href="{{ path('target_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include "flashMessages.html.twig" %}

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Id Code</th>
                <th>Nationalité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for target in targets %}
                <tr>
                    <td>{{ target.id }}</td>
                    <td>{{ target.lastname }}</td>
                    <td>{{ target.firstname }}</td>
                    <td>{{ target.getDateOfBirth|date('d-m-Y') }}</td>
                    <td>{{ target.getCodeName }}</td>
                    <td>{{ target.nationality.nationality }}</td>
                    <td>
                        <button class="btn">
                            <a href="{{ path('target_edit', {'id': target.id }) }}"><i class="text-warning fa fa-edit"></i></a>
                        </button>
                        <form id="delete-form" method="POST" style="display:inline-block" action="{{ path('target_delete', {'id': target.id}) }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ target.id) }}">
                            <button type="submit" class="btn" onclick="return confirm('Confirmer la suppression?')"><i class='delete-icon text-danger fa fa-times'></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(targets, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}

{% endblock %}