{% extends 'base.html.twig' %}

{% block title %}Liste des missions{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}

    <div class="row justify-content-end">
        <div class="col-5">
            <form class="d-flex p-4">
                <input class="form-control me-sm-2" type="text" placeholder="Recherche">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Recherche</button>
            </form>
        </div>
    </div>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Pays</th>
                <th>Type</th>
                <th>Status</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in missions %}
                <tr>
                    <td>{{ mission.title }}</td>
                    <td>{{ mission.country.getName }}</td>
                    <td>{{ mission.type.getName }}</td>
                    <td>{{ mission.status.getName }}</td>
                    <td>{{ mission.getCodeName }}</td>
                    <td><a class="btn btn-info" href="{{ path('single-mission',{'id' : mission.id}) }}">Détails</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
