<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% include "favicons.html.twig" %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg px-2 px-sm-5 navbar-dark bg-dark main-menu">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="{{ path('missions') }}" class="nav-link active">Missions</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a href="{{ path('admin') }}" class="nav-link">Administration</a>
                        </li>
                    {% endif %}
                </ul>
                {% if app.user.id is defined and app.user.id %}
                    <a href="{{ path('app_logout') }}" class="btn btn-primary">Se Déconnecter</a>
                {% elseif page is defined and page is not same as 'login' %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary">Se Connecter</a>
                {% endif %}  
            </nav>
        </header>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
